body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.App {
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-top: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  margin-bottom: 20px;
}
.search-bar{
  margin-right: 5px;
  border: 1px solid #0dcaf0;
  border-radius: 0.375rem;
}
select {
  border: 1px solid #0dcaf0 !important;
}